/*global*/
body{
    font-family: Arial;
}

img{
    max-width: 100%;
}

p{
    line-height: 2;
}
/*utilities*/
.container{
    width: 80%;
    margin: auto;
    margin-right: auto;
}

.btn-more{
    display: inline-block;
    background-color: black;
    color:white;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 28px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}


/*header*/

header{
    background-image: url(img/banner.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    height: 350px;
    text-align: center;
}

/*margin*/





/*blog*/


